body{
    background-image: url("../images/pack2.png") ;

}

header {
    height: 75px;
    margin: -8px;
    width: 101%;
    z-index: 1;
    background-color: #3c3a3a;
    display: inline-block;
    margin-top: -8px;
}
.logo {
    width: 80px;
    height: 70px;
    margin:6px 75px;
    display:inline-block;
}
.logoimg{
 width: 105%;

}

img{
    width: 100%;
    height: 100%;
}
.ulhead {
    float: right;
    width: auto;
    height: 100%;
    margin-right: 75px;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}
.lihead {
    float: left;
    width: auto;
    padding-left: 30px;
    line-height: 45px;
    text-align: right;
    color: #FFFFFF;
    }
ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 72px;
    font-weight: 500;
    color: #FFFFFF;
}

.navbar{
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}



.form {
    position: relative;
    z-index: 1;
    background: #3c3a3a;
    max-width: 360px;
    margin: 80px 580px 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    float: left;
}
.formlogin {
    position: relative;
    z-index: 1;
    background: #3c3a3a;
    max-width: 360px;
    margin: 150px 500px 100px;
    padding: 4px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    float: left;
    height: 350px;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #009fd0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #4c4880;
}

.form .message {
    color: white;
    font-size: 15px;
    padding: inherit
}

.form .message a {
    color: #4c4880;
    text-decoration: none;
}

.formlogin input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.formlogin button {
    text-transform: uppercase;
    outline: 0;
    background: #009fd0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.main-registeer{
    margin: auto;
    width: 400px;
    margin-top: 100px;
}

.formlogin button:hover,
.formlogin button:active,
.formlogin button:focus {
    background: #4c4880;
}

.formlogin .message {
    color: white;
    font-size: 15px;
    padding: inherit
}

.formlogin .message a {
    color: #4c4880;
    text-decoration: none;
}

.login-logo{
    width: 150px;
    height: 100px;
    margin-left: 120px;
}
/* reset */
html,body,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{background:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
* { box-sizing: border-box; padding:0; margin: 0; }


.main{
    margin:13em auto 0;
    width: 35%;
}
.logandreg {
    background:linear-gradient(45deg, #49a09d, #5f2c82);
    border-radius:0.4em;
    border:1px solid #0A192A;
    overflow:hidden;
    position:relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.logandreg:after {
    content:"";
    display:block;
    position:absolute;
    height:1px;
    width:100px;
    left:20%;
    top:0;
}

.logandreg:before {
    content:"";
    display:block;
    position:absolute;
    width:8px;
    height:5px;
    border-radius:50%;
    left:34%;
    top:-7px;
    box-shadow: 0 0 6px 4px #fff;
}

.inset {
    padding:20px;
    border-top:1px solid #000;
}

form h1{
    text-align:center;
    padding:18px 0;
    border-bottom:1px solid #000;
    position:relative;
}
form h1:after {
    content:"";
    display:block;
    width:250px;
    height:100px;
    position:absolute;
    top:0;
    left:50px;
    pointer-events:none;
    -webkit-transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

}

form h1  {
    color:#fff;
    text-shadow:0 1px 0 #000;
    font-size:18px;
    font-weight: 600;
    text-align:center;
    padding:18px 0;
    border-bottom:1px solid #000;
    position:relative;

}
form h1 span{
    padding:5px;
    background:#0184ff;
}
label {
    color:rgba(137, 192, 243, 0.8);
    display:block;
    font-size:13px;
    padding-bottom:9px;
}

input[type=text],
input[type=password] {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    padding:8px 5px;
    background: rgb(167,167,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border:1px solid #222;
    box-shadow:0 1px 0 rgba(255,255,255,0.1);
    border-radius:0.3em;
    margin-bottom:20px;
    color: #000;
    font-size:15px;
    outline: none;
}
label[for=remember]{
    color:#fff;
    display:inline-block;
    font-size: 13px;
}

input[type=checkbox] {
    display:inline-block;
    vertical-align:middle;
}

.p-container {
    padding:0 20px 20px 20px;
}

.p-container:after {
    clear:both;
    display:table;
    content:"";
}

.p-container span a {
    font-size:14px;
    display:block;
    float:left;
    color:#ffffff;
    padding-top: 4px;
}

input[type=submit] {
    padding:5px 20px;
    border:1px solid #439F07;
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.3),
            inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background: rgb(138,199,84); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */
    color:#fff;
    float:right;
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
    outline: none;
}

input[type=submit]:hover {
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.3),
            inset 0 -10px 10px rgba(255,255,255,0.1);
    background: rgb(102,174,63); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */

}
/**start-copy-right**/
.copy-right {
    text-align: center;
}
.copy-right p {
    color: #FFF;
    font-size:1em;
    padding:6em 0;
}
.copy-right p a {
    font-size:1em;
    font-weight:600;
    color:#061A3D;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.copy-right a:hover{
    color:#fff;
}

.container-tabel {

}

.table12 {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    width: 1200px;
    border-collapse: collapse;
    overflow: hidden;
    color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-family: sans-serif;
}

th td
{
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

.th1 {
    text-align: left;
    padding: 20px;
}

thead .th1 {
    padding: 20px 15px;
    font-weight: bold;
    font-size: 18px;

    background-color: #55608f;
}

tbody tr :hover {
     background-color: rgba(255,255,255,0.3);
 }

td {
    padding: 15px 20px !important;
    background-color: rgba(255,255,255,0.2);
 }
.divedit{
    border: 1px solid black;
    padding: 30px;
    width: 498px;
    margin: 100px auto;
    height: 380px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    box-shadow: 0px 0px 4px 0px black;

}

#demo{
    margin-top: 10px;
}

.table12{
    margin-bottom: 50px;
}

.insidenav{
    width: 400px;
    height: 50px;
    margin: 35px auto;
    background: linear-gradient(45deg,  #5f2c82,#49a09d);

}
.ulicter{
    float: right;
    width: auto;
    height: 100%;
    margin: 0px 25px;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    padding: 0px;
}
.liicter{
    float: left;
    width: auto;
    padding: 0px 40px;
    text-align: right;
}
.pnav{
    line-height: 50px;
}
.divedit2{
    border: 1px solid black;
    padding: 30px;
    width: 498px;
    margin: 100px auto 0px;
    height: 540px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    box-shadow: 0px 0px 4px 0px black;
}
.plaatsorder{
    border: 1px solid black;
    padding: 30px;
    width: 750px;
    margin: 75px auto 0px;
    height: 550px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    box-shadow: 0px 0px 4px 0px black;
}
.aantal{
    float: left !important;
    width: 545px !important;
}
.ordrlabel{
    margin: 10px;
    float: left;
}
select{
    float: left;
    margin: 10px !important;
}
.postcode{
    margin-top: 20px;
}
.postcodeinput{
    width: 150px !important;
    margin-right: 20px !important;
}
.adress{
    margin-top: 100px;
}
.ordrlabel1{
    margin-left: 180px;
}
.divorder{
    width: 900px;
    height: 200px;
    border-radius: 10px;
    margin: 100px auto ;
    background: linear-gradient(360deg, #49a09d, #5f2c82);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(3,5,3,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(3,5,3,1);
    box-shadow: 0px 0px 13px 0px rgba(3,5,3,1);
    text-align: center;
    padding: 20px 65px;
}
.table1{
    width: 90%;

    color: #FFFFFF;
}
.th12{
    padding: 20px 15px;
    font-weight: bold;
    font-size: 18px;
    border: black solid 1px;
}
.td12{
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    border: black solid 1px;
}
.annuleren{
     background-color: black;
     transform: rotate(90deg);
     transform-origin: left top 0;
     width: 100px;
     height: 30px;
     float: right;
     margin: 20px -195px;

     text-align: center;
     line-height: 30px;
     text-color: #FFFFFF;
 }
.edit{
    background-color: black;
    transform: rotate(90deg);
    transform-origin: left top 0;
    width: 100px;
    height: 30px;
    float: left;
    margin: 25px -65px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.table121{
    margin-bottom: 50px;
    margin-top: 50px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    width: 1200px;
    border-collapse: collapse;
    overflow: hidden;
    color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-family: sans-serif;
}
#popup {
    display: none;
    position: fixed;
    transform: translate(30%, 50%);
    z-index: 1;
    padding: 30px 20px;
    margin: auto;
    border: 1px solid black;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    box-shadow: 0px 0px 4px 0px black;
}